// Specific CSS for your home-page
$purple:  #AA53F2;
$purple2: #7A53EF;
$yellow: #FADF32;
$yellow2: #F9B731;
$surfacegrey: #F8F9FA;
$textgrey: #4B4B4B;
$rederror: #B00020;

html {
    background: #F8F9FA;
    color: #4B4B4B;
}

.nav-container {
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container a {
  float: left;
  color: #4B4B4B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-container a:hover {
  color: #F9B731;
}

.banner {
  background-size: cover;
  // background-image: linear-gradient(90deg, rgba(8,5,20,0.4) 20%, rgba(0,0,0,0) 100%), url("https://images.unsplash.com/photo-1497414146483-5bcafdccfdff?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-image: url("https://images.unsplash.com/photo-1497414146483-5bcafdccfdff?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  // object-fit: cover;
  width: max-width;
  height: 400px;
  background-position: center;
  /*padding: 200px 0;*/
  background-repeat: no-repeat;
  padding-bottom: 100px;
  opacity: 0.8;
  position: relative;
  text-align: center;
  color: white;
}

.container1 {
  padding: 60px 40px 80px 40px;
  color: #2e2e2e;
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.4);
  height: 400px;
}

.choices {
  display: flex;
  align: center;
  flex-wrap: wrap;
  flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.aform {
  display: flex;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  height: 60px;
  border: transparent;
  padding-left: 20px;
}

.aform:focus {
  outline: none;
}

.abutton {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: transparent;
  padding-right: 20px;
}

.myButton {
  margin-left: 72%;
  margin-top: 120px;
  padding: 5px 20px;
  background-color: #FADF32;
  border: 1px solid #F9b732;
  border-radius: 6px;
}

.card {
  display: flex;
}

.details {
  color: black;
}

