// Specific CSS for your home-page
$purple:  #AA53F2;
$purple2: #7A53EF;
$yellow: #FADF32;
$yellow2: #F9B731;
$surfacegrey: #F8F9FA;
$textgrey: #4B4B4B;
$rederror: #B00020;

html {
    background: #F8F9FA;
    color: #4B4B4B;
}

.nav-container {
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container a {
  float: left;
  color: #4B4B4B;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-container a:hover {
  color: #F9B731;
}

.banner {
  background-size: cover;
  // background-image: linear-gradient(90deg, rgba(8,5,20,0.4) 20%, rgba(0,0,0,0) 100%), url("https://images.unsplash.com/photo-1497414146483-5bcafdccfdff?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-image: url("https://images.unsplash.com/photo-1497414146483-5bcafdccfdff?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  // object-fit: cover;
  width: max-width;
  height: 400px;
  background-position: center;
  /*padding: 200px 0;*/
  background-repeat: no-repeat;
  padding-bottom: 100px;
  opacity: 0.8;
  position: relative;
  text-align: center;
  color: white;
}

.container1 {
  padding: 60px 40px 80px 40px;
  color: white;
  background-color: silver;
  background-color: hsla(0, 0%, 100%, 0.4);
  height: 400px;
}

.cards{
  height: 200px;
  margin-top: 45px;
  // background-color: hsla(0, 0%, 100%, 0.4);
  // background-image: url("https://picsum.photos/200/300");
  background-repeat: no-repeat;
  background-color: #F8F9FA;
  box-shadow: 0px 0px 0px 3px;
}

.cards-description {
  padding-left: 200px;
}

.cards-description a {
  color: #4B4B4B;
}

.cards-description h2 {
  text-align: left;
}

.cards-description p {
  text-align: left;
  color: #4B4B4B;
  font-size: 13px;
}

.cards h6 {
  text-align: right;
  color: #4B4B4B;
  padding-right: 20px;
  padding-top: 30px;
}

// input {
//   width: 20%;
//   height: 20%;
//   // margin: 8px;
//   margin-top: 15px;
//   border: 1px solid;
//   border-radius: 6px;
//   padding: 5px;
// }
.choices {
  display: flex;
  align: center;
  flex-wrap: wrap;
  flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.aform {
  display: flex;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  height: 60px;
  border: transparent;
  padding-left: 20px;
}

.aform:focus {
  outline: none;
}

.abutton {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: transparent;
  padding-right: 20px;
}

#create {
  margin: 40px;
}

.but {
  border: 1px solid transparent;
  border-radius: 15px;
  text-decoration: none;
  color: #171717;
  font-weight: bold;
  padding: 8px 10px;
  background-color: #FADF32;
  font-size: 14px;
  box-shadow: -2px 2px 3px -1px #c8b228;
}

.but:hover {
  text-decoration: none;
  background-color: #F9b732;
  color: #171717;
}

.container2 h1{
 text-align: center;
 margin-left: 60px;
}


.content{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin-top: 70px;
}
.total_components{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container3{
  margin-top: 30px;
  margin-right: 20px;
  padding: 30px 30px;
  background-color: #eae9e9;
}

.show_body{
  background-color: white;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn1{
  color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: black;
  margin-right: 20px;
}
.btn2{
  color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: black;
  margin-right: 20px;
}

.btn3{
  color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: black;
}

ul{
  list-style-type: none;
}

.background{
  background-color: #eae9e9;
  height: 200px;
  padding-left: 30px;
  padding-top: 20px;
  color: black;
  text-align: left;
  margin-left: 350px;
}
.buttons{
  margin-top: 90px;
  margin-left: 80px;
}
.filter{
  margin-top: 100px;
  display: inline-flex;
  justify-content: space-between;
}

.filter h3{
  color: black;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 20px;
  font-weight: bold;
  opacity: 0.6;
  margin-top: 10px;
  padding-right: 20px;
}


