.container2 {
  padding-left: 40px;
  padding-bottom: 80px;
  color: #4B4B4B;
  padding-top: 10px;
}

.listingpicture {
  padding-top: 10px;
  max-width: 400px;
  padding-left: 40px;
}

.bannertext {
text-shadow: 0 0 3px #FFF0B2, 0 0 5px #FFFFFF;
font-weight: 505;
}
