.container2 {
  padding-left: 40px;
  padding-bottom: 80px;
  color: #4B4B4B;
  padding-top: 10px;
}

.listingpicture {
  padding-top: 10px;
  max-width: 400px;
  padding-left: 40px;
}

#map {
  width: 50vw;
  height: 500px;
  padding-left: 40px;
  padding-bottom: 40px;
}


#mapcard {
  padding-bottom: 40px;
  width: 50vw;
  margin: 0 auto;
}

.bannertext {
text-shadow: 0 0 3px #FFF0B2, 0 0 5px #FFFFFF;
font-weight: 500;
}
