.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

ul#horizontal-list li {
    display: inline;
  }

.wrapper-gradient {
background: linear-gradient(to right, red, purple);
  border-radius: 10px;
}

.btn-filled {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
  height: 50px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  z-index: 2;
}

.btn-filled:hover {
  color: #fff;
  background: transparent;
}

.btn-unfilled {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 10px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
  height: 50px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  z-index: 2;
}

.btn-unfilled:hover {
  color: #fff;
  background: transparent;

}

.btn span {
  align-items: center;
  background: #e7e8e9;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background .5s ease;
  width: 100%;
}

.btn:hover span {
}
