$yellow: #FADF32;
$yellow2: #F9B731;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#horizontal-list {
  display: inline-flex;
  margin-top: 17px;
}


.wrapper-gradient {
  border-radius: 15px;
  text-decoration: none;
  color: #4B4B4B;
  font-weight: bold;
  padding: 8px 10px;
  background-color: #FADF32;
  font-size: 14px;
  box-shadow: -2px 2px 3px -1px #c8b228;
}

.wrapper-gradient:hover {
  background: linear-gradient(to right, #FADF32, #F9B731);
  color: white;
}
