.container-description-map-booking {
  background-color: white;
  padding: 20px 15px;
}

.container-description {
  padding: 2% 0;

  h1 {
    font-weight: bold;
  }
}

.list-inline-item {
  background-color: #FE53BB;
  border-radius: 5px;
  padding: 4px;
  margin: 3px;
}

.padding-none {
  padding: 0;
}

.padding-center {
  padding: 2% 0;
}

.col-4{

}

.booking-form-container{
  margin: 30px auto;
  width: 90%;
  height: 90%;
}

.booking-form {
  padding: 30px 30px;
  background-color: #eae9e9;
  border-radius: 5px;
}


#map {
  height: 500px;
  padding-left: 40px;
  padding-bottom: 40px;
}


#mapcard {
}

.review-container {
  background-color: white;
  margin: 80px auto;
  padding: 30px;
}

.review-card {
  background-color: #eae9e9;
  padding: 15px;
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
}

.owner-info {
  text-align: center;
}

.review-user-info {
  text-align: center;
  width: 150px;
  padding-top: 15px;
}

#span {
  font-size: 20px;
}
