<h1>Partizzle Listings</h1>

<input type="text" id="searchbar">

<ul id="myUL">
  <%@locations.each do |location|%>
    <li class="locations"><%=link_to location.title, location_path(location)%></li>
  <%end%>
<ul>

<button><%=link_to "Create Location", new_location_path%></button>

