<div class="banner">
  <div class="container1">
    <h1>Book now!</h1>
    <h3>Find your favourite party location!</h3>

      <form action="/results">
        <div class=choices>
          <div class="choices_inner">
            <input class="form-control" type="text" name="search" placeholder="Type to search..." style=" width:400px;" autocomplete="on">
            <button class="btn-search" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                </path>
              </svg>
            </button>
          </div>
        </div>
      </form>

    <button class="myButton">Get inspired!</button>
  </div>


<input type="text" id="searchbar">
<div class="container">
  <div class="row" id="row">
    <%@locations.each do |location|%>
      <div class="col-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path location.photo, height: 300, width: 1000,crop: :fill %>)">
          <div class="card-description">
            <h2><%= link_to location.title, location_path(location)%></h2>
          </div>
        </div>
        <div class="">
      </div>
      </div>
    <% end %>
  </div>
</div>
<%=link_to "Create Location", new_location_path, class: "btn btn-warning" %>

