<html>
<head>
  <link rel="stylesheet" href="../../../assets/stylesheets/pages/_home.scss">
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="nav-container">
    <a id="header_link home" class="navbar-brand" href="/locations">
      <%= image_tag('logo_white.png', witdth: 60, height: 80, alt: "logo") %>
    </a>
    <div>
      <a class="search" href="/search">
      </a>
      <a id="header_link_Login" class="login/signup" href="users/sign_in">Login
      </a>
      <a class="sign-up" href="users/sign_up">Sign Up
      </a>
  </div>
</div>

<div class="banner">
  <div class="container1">
    <h1>Book your party location now!</h1>
    <form>
    </form>
  </div>
</div>

<ul>
  <%@locations.each do |location|%>
  <li><%=link_to location.title, location_path(location)%></li>
  <%end%>
</ul>
 <button><%=link_to "Create Location", new_location_path%></button>
</body>
</html>
